.navbar {
  color: #ffffff;
  z-index: 1;
  background-color: #282828; }
  .navbar .container {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    .navbar .container .btn {
      background: none;
      border: none;
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
      filter: invert(1); }
      .navbar .container .btn:hover {
        cursor: pointer;
        border-radius: 50%;
        opacity: 0.8; }
    .navbar .container .search {
      width: 500px;
      height: 25px; }
